.header {
    box-shadow: rgb(0 0 0 / 10%) 0px 6px 20px;
    padding: 20px 36px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

    &__submenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    &__button {
        display: inline-block;
        border-radius: 40px;
        padding: 10px 30px;
        font-weight: 500;
        font-size: 14px;
        transition: background-color 0.3s linear 0s;
        background-color: rgb(44, 38, 32);
        color: rgb(255, 255, 255);
    }

    &__nav {
        margin-top: 15px;
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}