.section {
    &__title {
        margin: 30px 0;
        color: rgb(51, 51, 51);
        font-weight: 600;
        font-size: 38px;
    }

    &__back {
        color: rgb(26, 150, 246);
        margin-bottom: 20px;

        &:hover {
            color: rgb(255, 115, 43);
        }
    }
}