@use 'typography';

body {
    font-family: 'Inter', sans-serif;
    background-color: #f6f7fb;
    padding-top: 140px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &.cleared {
        padding-top: 0;
    }
}

main {
    flex-grow: 1;
}

ul {
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}