{% extends 'base.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="wrapper reviews">
            <div class="col-12">
                <h1 class="reviews__title">Ваши отзывы и комментарии</h1>
                <ul class="reviews__list">
                    {% for review in reviews %}
                        <li class="reviews__item review">
                            <p class="review__author">{{ review.author }}</p>
                            <p class="review__description">{{ review.description }}</p>
                            <p class="review__category">{{ review.category }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}