.time {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 40px;
    background-color: lightgreen;
}

.errorlist li {
    color: rgb(249, 75, 40);
    font-size: 12px;
}