.home {
    text-align: center;

    &__heading {
        padding: 30px 0;
        background-color: rgb(254, 255, 153);
    }

    &__title {
        font-size: 60px;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    &__subtitle {
        margin: 30px 0;
    }
    
}
