{% extends 'base.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="wrapper lessons">
            <h1 class="section__title">Уроки</h1>
            <ul class="lessons__list">
                {% for lesson in lessons %}
                    <li class="lessons__item lesson">
                        <div class="lesson__preview">
                            <div class="lesson__avatar">
                                <img class="lesson__image" src="{{ lesson.preview.url }}" alt="#">
                            </div>
                            <p class="lesson__teacher">{{ lesson.teacher.first_name }} {{ lesson.teacher.last_name }}</p>
                        </div>
                        <div class="lesson__content">
                            {% if lesson.category.count %}
                                <ul class="lesson__categories">
                                    {% for category in lesson.category.all %}
                                        <li class="lesson__category">{{ category }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <h2 class="lesson__title">{{ lesson.title }}</h2>
                            <p class="lesson__description">{{ lesson.description }}</p>
                            <div class="lesson__actions">
                                <a href="{{ lesson.get_absolute_url }}" class="lesson__action button">Приступить к выполнению</a>
                            </div>
                        </div>
                        <span class="lesson__time time badge">{{ lesson.start_time|date:'G:i' }} - {{ lesson.end_time|date:'G:i' }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}