{% extends 'base.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="row wrapper">
            <a href="{% url 'lessons' %}" class="section__back"><- К списку уроков</a>
            <div class="section__heading heading col-12 mb-3">
                <h2 class="heading__title">{{ lesson.title }}</h2>
                <p class="heading__description">У вас есть нерешенные задачи</p>
            </div>
            <div class="box col-12 mb-3">
                <span class="lesson__time time badge">{{ lesson.start_time|date:'G:i' }} - {{ lesson.end_time|date:'G:i' }}</span>
                <h3 class="box__title">Тема, цели и задачи урока</h3>
                <p>
                    {{ lesson.description }}
                </p>
            </div>
            <a href="#" class="box box--link box--one-line col-12 mb-3">
                <div class="box__preview">PDF</div>
                <p>Материалы урока</p>
            </a>
            <a href="#" class="button button--fixed">Закончить выполнение урока</a>
        </div>
    </div>
</section>
{% endblock %}