{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/reseter.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'scss/main.css' %}">
</head>
<body class="cleared">
<main>
    <section class="section">
        <div class="container">
            <div class="wrapper login">
                <div class="box box--fixed">
                    <a href="{% url 'home' %}" class="button button--outline"><- На главную</a>
                    <h1 class="box__title">Войдите или зарегистрируйтесь</h1>
                    <form class="form" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="button mb-1">Войти</button>
                        <a href="{% url 'registration' %}" class="button button--outline mb-1">Первый раз?</a>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>