{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/reseter.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'scss/main.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__submenu">
                <a href="{% url 'home' %}" class="header__logo">Online</a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="header__button">Выйти</a>
                {% else %}
                    <div class="header__actions">
                        <a href="{% url 'login' %}" class="header__button">Войти</a>
                        <a href="{% url 'registration' %}" class="header__button">Регистрация</a>
                    </div>
                {% endif %}
            </div>
            <nav class="header__nav">
                <ul class="header__menu menu">
                    <li class="menu__item">
                        <a href="{% url 'home' %}" class="menu__link">Главная</a>
                    </li>
                    <li class="menu__item">
                        <a href="{% url 'courses' %}" class="menu__link">Курсы</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="menu__item">
                            <a href="{% url 'lessons' %}" class="menu__link">Уроки</a>
                        </li>
                        <li class="menu__item">
                            <a href="{% url 'estimations' %}" class="menu__link">Успеваемость</a>
                        </li>
                        <li class="menu__item">
                            <a href="{% url 'account' %}" class="menu__link">Личный кабинет</a>
                        </li>
                    {% endif %}
                    <li class="menu__item">
                        <a href="{% url 'reviews' %}" class="menu__link">Отзывы</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="container">
            <div class="wrapper footer__wrapper">
                <p>© ONLINE, 2022</p>
            </div>
        </div>
    </footer>
</body>
</html>