{% extends 'base.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="wrapper home">
            <div class="col-12 home__heading">
                <h1 class="home__title">Вперёд к знаниям</h1>
                <p class="home__subtitle">ONLINE — это онлайн-школа для учеников с 1 по 11 класс</p>
                <a href="{% url 'courses' %}" class="button">Подберите занятия для своей цели</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}