.box {
    padding: 20px 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .08) 0px 10px 20px 0px;
    position: relative;

    &--fixed {
        padding: 36px;
        width: 450px;
    }

    &__title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    &__preview {
        height: 40px;
        width: 40px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lightblue;
    }

    &__notify {
        font-weight: 300;
        font-size: 14px;
        border-radius: 40px;
        background-color: lightgreen;
        padding: 5px 10px;
    }

    &--one-line {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &--link {
        transition: box-shadow .5s ease;

        &:hover {
            box-shadow: rgba(0, 0, 0, .25) 0px 6px 20px;
        }
    }
}