.button {
    line-height: 40px;
    border: none;
    cursor: pointer;
    height: max-content;
    font-weight: 600;
    padding: 0px 24px;
    transition: background-color 0.2s ease 0s;
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(26, 150, 246);
    color: #fff;

    &:hover {
        background-color: rgb(15, 128, 217);
    }

    &--outline {
        color: rgb(26, 150, 246);
        border: none;
        font-weight: 400;
        line-height: normal;
        padding: 0;
        border-radius: 0;
        background: none;
        transition: color .4s ease;

        &:hover {
            color: rgb(255, 115, 43);
            background: none;
        }
    }

    &--fixed {
        width: max-content;
        margin-left: auto;
    }
}