.estimation {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;

    &__description {
        flex: 0 0 auto;
        display: flex;
        gap: 30px;
    }

    &__title {
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__image {
        height: 20px;
        width: 20px;
        object-fit: cover;
        border-radius: 50%;
    }

    &__teacher {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__fragment {
        width: 240px;
        display: flex;
        gap: 10px;
        align-items: center;
    }
    
}

.fragment{
    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: rgb(184, 184, 184);
        border-radius: 5px;
    }
}