.form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__input {
        padding: 15px 20px 11px;
        font-size: 16px;
        color: rgb(51, 51, 51);
        border-radius: 5px;
        width: 100%;
        border: 1px solid rgb(212, 212, 212);
        background-color: rgb(255, 255, 255);

        &--error {
            border: 1px solid rgb(249, 75, 40);
            background-color: rgba(249, 75, 40, 0.1);
        }        
    }

    &--one-line {
        flex-direction: row;
        align-items: end;
    }
    
    &__field {
        width: 30%;

        label {
            display: block;
            margin-bottom: 5px;
            color: #b8b8b8;
        }
    }
    
}

label {
    display: none;
}