.heading {
    padding: 30px 32px;
    background-color: #e5f2fc;

    &__title {
        color: rgb(51, 51, 51);
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 20px;
    }

    &__description {
        color: rgb(184, 184, 184);
        font-size: 16px;
    }
}