{% extends 'base.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="wrapper estimations">
            <h1 class="section__title">Успеваемость</h1>
                {% for estimation in estimations %}
                    <div class="box estimation mb-3">
                        <div class="estimation__header">
                            <p class="estimation__title">{{ estimation.title }}</p>
                            <p class="estimation__count">Количество уроков: {{ estimation.lesson_count }}</p>
                        </div>
                        <div class="estimation__description">
                            <div class="estimation__fragment fragment">
                                <div class="fragment__block">
                                    {% if estimation.estimation_avg %}
                                        {{ estimation.estimation_avg }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </div>
                                <span class="fragment__description">Средняя оценка по предмету</span>
                            </div>
                            <div class="estimation__fragment fragment">
                                <div class="fragment__block">
                                    {% if estimation.progress %}
                                        {{ estimation.progress }}%
                                    {% else %}
                                        0%
                                    {% endif %}
                                    
                                </div>
                                <span class="fragment__description">Прогресс курса</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}