.lesson {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px;
    border-radius: 5px;
    display: flex;
    width: 100%;
    position: relative;

    &__preview {
        padding: 32px;
        flex: 0 0 0%;
    }

    &__content {
        border-left: 1px solid rgba(220, 223, 234, 0.5);
        padding: 32px;
        flex-grow: 1;
    }

    &__categories {
        display: flex;
        gap: 10px;
        margin-bottom: 25px;
        width: 100%;
    }

    &__category {
        display: inline-block;
        background: rgb(246, 246, 246);
        border-radius: 5px;
        padding: 2px 8px 0px;
        color: rgb(51, 51, 51);
        line-height: 22px;
    }

    &__title {
        color: rgb(51, 51, 51);
        line-height: 1.15;
        font-weight: 600;
        font-size: 28px;
        padding: 1rem 0;
    }

    &__description {
        margin-top: 10px;
    }

    &__actions {
        margin-top: 40px;
        display: flex;
        justify-content: flex-end;
    }

    &__avatar {
        height: 200px;
        width: 200px;
        margin-bottom: 10px;
    }
    
    &__image {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    
    &__teacher {
        color: rgb(51, 51, 51);
        font-weight: 600;
        margin-top: 15px;
        text-align: center;
    }
    
}