.review {
    padding: 16px 16px 32px;
    color: rgb(44, 38, 32);
    background-color: rgb(203 220 245);
    width: 300px;

    &__author {
        font-size: 24px;
        font-weight: 600;
        color: rgb(44, 38, 32);
        margin-bottom: 20px;
    }
    
    &__category {
        color: rgba(44, 38, 32, 0.5);
        font-size: 14px;
        margin-top: 15px;
    }
    
}
