{% extends 'base.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="wrapper account">
            <div class="box col-12">
                <h1 class="box__title">Личная информация
                    {% if notify %}
                        <span class="box__notify">{{ notify }}</span>
                    {% endif %}
                </h1>
                <form action="{% url 'account-edit' %}" class="form form--one-line" method="post">
                    {% csrf_token %}
                    <div class="form__field">
                        <label for="first_name">Имя</label>
                        <input name="first_name" id="first_name" type="text" value="{{ request.user.first_name }}" placeholder="Введите Ваше имя" class="form__input">
                    </div>
                    <div class="form__field">
                        <label for="second_name">Фамилия</label>
                        <input name="second_name" id="second_name" type="text" value="{{ request.user.last_name }}" placeholder="Введите Вашу фамилию" class="form__input">
                    </div>
                    <div class="form__field">
                        <button type="submit" class="button mb-1">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}