@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
  background-color: #f6f7fb;
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body.cleared {
  padding-top: 0;
}

main {
  flex-grow: 1;
}

ul {
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 20px;
  padding: 20px 36px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.header__submenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.header__button {
  display: inline-block;
  border-radius: 40px;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 14px;
  transition: background-color 0.3s linear 0s;
  background-color: rgb(44, 38, 32);
  color: rgb(255, 255, 255);
}
.header__nav {
  margin-top: 15px;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  background-color: rgb(30, 29, 32);
  padding: 20px;
  color: rgba(255, 255, 255, 0.7);
  flex-shrink: 1;
  margin-top: 50px;
}

.section__title {
  margin: 30px 0;
  color: rgb(51, 51, 51);
  font-weight: 600;
  font-size: 38px;
}
.section__back {
  color: rgb(26, 150, 246);
  margin-bottom: 20px;
}
.section__back:hover {
  color: rgb(255, 115, 43);
}

.box {
  padding: 20px 15px;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px 0px;
  position: relative;
}
.box--fixed {
  padding: 36px;
  width: 450px;
}
.box__title {
  font-size: 20px;
  margin-bottom: 15px;
}
.box__preview {
  height: 40px;
  width: 40px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}
.box__notify {
  font-weight: 300;
  font-size: 14px;
  border-radius: 40px;
  background-color: lightgreen;
  padding: 5px 10px;
}
.box--one-line {
  display: flex;
  align-items: center;
  gap: 10px;
}
.box--link {
  transition: box-shadow 0.5s ease;
}
.box--link:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 20px;
}

.button {
  line-height: 40px;
  border: none;
  cursor: pointer;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-weight: 600;
  padding: 0px 24px;
  transition: background-color 0.2s ease 0s;
  display: inline-block;
  border-radius: 5px;
  background-color: rgb(26, 150, 246);
  color: #fff;
}
.button:hover {
  background-color: rgb(15, 128, 217);
}
.button--outline {
  color: rgb(26, 150, 246);
  border: none;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  border-radius: 0;
  background: none;
  transition: color 0.4s ease;
}
.button--outline:hover {
  color: rgb(255, 115, 43);
  background: none;
}
.button--fixed {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}

.estimation {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
}
.estimation__description {
  flex: 0 0 auto;
  display: flex;
  gap: 30px;
}
.estimation__title {
  font-weight: 500;
  margin-bottom: 5px;
}
.estimation__image {
  height: 20px;
  width: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.estimation__teacher {
  display: flex;
  align-items: center;
  gap: 5px;
}
.estimation__fragment {
  width: 240px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.fragment__block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: rgb(184, 184, 184);
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form__input {
  padding: 15px 20px 11px;
  font-size: 16px;
  color: rgb(51, 51, 51);
  border-radius: 5px;
  width: 100%;
  border: 1px solid rgb(212, 212, 212);
  background-color: rgb(255, 255, 255);
}
.form__input--error {
  border: 1px solid rgb(249, 75, 40);
  background-color: rgba(249, 75, 40, 0.1);
}
.form--one-line {
  flex-direction: row;
  align-items: end;
}
.form__field {
  width: 30%;
}
.form__field label {
  display: block;
  margin-bottom: 5px;
  color: #b8b8b8;
}

label {
  display: none;
}

.heading {
  padding: 30px 32px;
  background-color: #e5f2fc;
}
.heading__title {
  color: rgb(51, 51, 51);
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}
.heading__description {
  color: rgb(184, 184, 184);
  font-size: 16px;
}

.lesson {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
  border-radius: 5px;
  display: flex;
  width: 100%;
  position: relative;
}
.lesson__preview {
  padding: 32px;
  flex: 0 0 0%;
}
.lesson__content {
  border-left: 1px solid rgba(220, 223, 234, 0.5);
  padding: 32px;
  flex-grow: 1;
}
.lesson__categories {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
  width: 100%;
}
.lesson__category {
  display: inline-block;
  background: rgb(246, 246, 246);
  border-radius: 5px;
  padding: 2px 8px 0px;
  color: rgb(51, 51, 51);
  line-height: 22px;
}
.lesson__title {
  color: rgb(51, 51, 51);
  line-height: 1.15;
  font-weight: 600;
  font-size: 28px;
  padding: 1rem 0;
}
.lesson__description {
  margin-top: 10px;
}
.lesson__actions {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}
.lesson__avatar {
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}
.lesson__image {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.lesson__teacher {
  color: rgb(51, 51, 51);
  font-weight: 600;
  margin-top: 15px;
  text-align: center;
}

.menu__link:hover {
  color: rgb(26, 150, 246);
}

.review {
  padding: 16px 16px 32px;
  color: rgb(44, 38, 32);
  background-color: rgb(203, 220, 245);
  width: 300px;
}
.review__author {
  font-size: 24px;
  font-weight: 600;
  color: rgb(44, 38, 32);
  margin-bottom: 20px;
}
.review__category {
  color: rgba(44, 38, 32, 0.5);
  font-size: 14px;
  margin-top: 15px;
}

.home {
  text-align: center;
}
.home__heading {
  padding: 30px 0;
  background-color: rgb(254, 255, 153);
}
.home__title {
  font-size: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.home__subtitle {
  margin: 30px 0;
}

.lessons__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.w-100 {
  width: 100px;
}
.w-200 {
  width: 200px;
}
.w-300 {
  width: 200px;
}

.mb-1 {
  margin-bottom: 0.5rem !important;
}
.mb-2 {
  margin-bottom: 1rem !important;
}

.time {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 40px;
  background-color: lightgreen;
}

.errorlist li {
  color: rgb(249, 75, 40);
  font-size: 12px;
}/*# sourceMappingURL=main.css.map */