{% extends 'base.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="wrapper lessons">
            <h1 class="section__title">Курсы</h1>
            <ul class="lessons__list">
                {% for course in courses %}
                    <li class="lessons__item lesson">
                        <div class="lesson__preview">
                            <div class="lesson__avatar">
                                <img class="lesson__image" src="{{ course.preview.url }}" alt="#">
                            </div>
                        </div>
                        <div class="lesson__content">
                            <ul class="lesson__categories">
                                {% for category in course.category.all %}
                                    <li class="lesson__category">{{ category }}</li>
                                {% endfor %}
                            </ul>
                            <h2 class="lesson__title">{{ course.title }}</h2>
                            <p class="lesson__description">{{ course.description }}</p>
                            <div class="lesson__actions">
                                <a href="#" class="lesson__action button">Начать изучение</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}